.header {
    max-width: 1500px;
}

.header__nav {
    display: flex;
    color: #000080;
    margin: 20px;
    align-items: center;
}

h2 {
    font-size: 24px;
}

.header__nav--list {
    margin-left: auto
}

.header__nav--item  {
    display: inline-block;
    padding: 10px;
}

.header__nav--item a {
    color: #000080;
    font-weight: bold;
}

.content {
    max-width: 1500px;
}

.content__box {
    width: 1150px;
    height: 150px;
    background-color: #000080;
    position: fixed;
    top: 500px;
}

.content__img img {
    width: 58%;
    position: absolute;
    bottom: 70px;
    left: 757px;
}

.content__txt {
    font-size: 76px;
    position: absolute;
    top: 420px;
}
