.header__nav {
    display: flex;
    color: #000080;
    margin: 20px;
    align-items: center;
}

h2 {
    font-size: 24px;
}

.header__nav--list {
    margin-left: auto
}

.header__nav--item  {
    display: inline-block;
    padding: 10px;
}

.header__nav--item a {
    color: #000080;
    font-weight: bold;
}

.content {
    position: relative;
}
.content__img img {
    width: 50%;
    position: absolute;
    top: 12vw;
    right: 0;
    z-index: 10;
}

.content__txt {
    font-size: 54px;
    position: absolute;
    top: 35vw;
}

.content__box {
    width: 80vw;
    height: 130px;
    background-color: #000080;
    position: absolute;
    top: 40vw;
    z-index: -10;
}